@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --ejemplo: #333;
}

body {
  margin: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.principal {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

div {
  background-color: azure;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
}

div:hover {
  background-color: #000;
  color: #fff;
}

div>p {
  transition: 1s;
}

div:hover>p {
  transform: rotate(180deg);
}

div:nth-child(1) {
  background-color: #00ffff;
}

.banda:hover {
  background-color: #000;
}

div:nth-child(2) {
  background-color: #00dedd;
}

div:nth-child(3) {
  background-color: #00bbbc;
}

div:nth-child(4) {
  background-color: #009999;
}

div:nth-child(5) {
  background-color: #007776;
}

div:hover+div {
  background-color: #fff;
  color: #000
}
