:root {
  --ejemplo: #333;
}

body {
  margin: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.principal {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.banda {
  background-color: azure;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
}

.banda:hover {
  background-color: #000;
  color: #fff;
}

.banda>p {
  transition: 1s;
}

.banda:hover>p {
  transform: rotate(180deg);
}

.banda:hover {
  background-color: #000;
}

div:nth-child(1) {
  background-color: #00ffff;
}

div:nth-child(2) {
  background-color: #00dedd;
}

div:nth-child(3) {
  background-color: #00bbbc;
}

div:nth-child(4) {
  background-color: #009999;
}

div:nth-child(5) {
  background-color: #007776;
}

.banda:hover+div {
  background-color: #fff;
  color: #000
}
